name: AWS ECR API

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
            - ready_for_review
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        if: github.event.pull_request.draft == false
        steps:
            - name: Print
              run: echo ${{github.event}}

            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.event.pull_request.head.sha }}

            - name: Docker Build API
              run: docker build -t api api/

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v1
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v1

            - name: Docker Tag API
              if: github.event.type == 'PullRequestevent'
              run: docker tag api ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/raster-uploader:${{github.event.pull_request.head.sha}}

            - name: Docker Push API
              if: github.event.type == 'PullRequestEvent'
              run: docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/raster-uploader:${{github.event.pull_request.head.sha}}

            - name: Docker Tag API
              if: github.event.type == 'PushEvent'
              run: docker tag api ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/raster-uploader:${{github.event.push.head}}

            - name: Docker Push API
              if: github.event.type == 'PushEvent'
              run: docker push ${{secrets.AWS_ACCOUNT_ID}}.dkr.ecr.us-east-1.amazonaws.com/raster-uploader:${{github.event.push.head}}
